
.Content1
{
    border-style: solid;
    border-color: transparent;
    .Heading
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        background: #B9FF66;
        border-radius: 7px;
        width: 265px;
        height: 51px;

        flex: none;
        order: 0;
        flex-grow: 0;

        h2{
            position: absolute;
            margin: 0%;
            width: 265px;
            height: 51px;
            padding: 0px 7px 0px 7px;
            gap: 10px;
            border-radius: 7px 0px 0px 0px;
            opacity: 0px;

            //styleName: h2;
            font-family: Space Grotesk;
            font-size: 40px;
            font-weight: 500;
            line-height: 51.04px;
            text-align: left;

        }
    }
    p{
        position: absolute;
        left: 20%;
        top: 0%;
        width: 580px;
        height: 46px;
        gap: 0px;
        opacity: 0px;

        //styleName: p;
        font-family: Space Grotesk;
        font-size: 18px;
        font-weight: 400;
        line-height: 22.97px;
        text-align: left;

    }
}
.Content1
{
    border-style: solid;
    border-color: transparent;
    .Heading
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

        background: #B9FF66;
        border-radius: 7px;
        width: 265px;
        height: 51px;

        flex: none;
        order: 0;
        flex-grow: 0;

        h2{
            position: absolute;
            margin: 0%;
            width: 265px;
            height: 51px;
            padding: 0px 7px 0px 7px;
            gap: 10px;
            border-radius: 7px 0px 0px 0px;
            opacity: 0px;

            //styleName: h2;
            font-family: Space Grotesk;
            font-size: 40px;
            font-weight: 500;
            line-height: 51.04px;
            text-align: left;

        }
    }
    p{
        position: absolute;
        left: 20%;
        top: 0%;
        width: 580px;
        height: 46px;
        gap: 0px;
        opacity: 0px;

        //styleName: p;
        font-family: Space Grotesk;
        font-size: 18px;
        font-weight: 400;
        line-height: 22.97px;
        text-align: left;

    }
}


.caseStudiesBlock{
/* Case studies */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 70px 60px;
    gap: 64px;

    width: 1234px;
    height: 326px;

    /* Dark */
    background: #191A23;
    border-radius: 45px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    .caseStudy-wrap{
        display: table;
        width: 100%;
    }

    .caseStudy{
        /* Case study */
        display: table-cell;
        padding: 5%;
        /* Auto layout */
        
        flex-direction: column;
        align-items: flex-start;
       
        gap: 20px;

        width: 600px;
        height: 163px;


        /* Inside auto layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        color: white;
        
        p{
            //styleName: p;
            font-family: Space Grotesk;
            font-size: 18px;
            font-weight: 400;
            line-height: 22.97px;
            text-align: left;
        }

        .Link{
            /* Link */

                /* Auto layout */
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 15px;

                width: 140.32px;
                height: 28px;


                /* Inside auto layout */
                flex: none;
                order: 1;
                flex-grow: 0;

            
        }
    }

