.Content1
{
    width: 100%;
    height: 5vh;

    padding: 0% 0% 5% 5%;

    gap: 2%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Heading
    {
        width: 15%;
        height: inherit;
        text-align: center;
        h2 
        {
            margin: 0%;
            /* Auto layout */
            font-size: 5.5vh;
            /* Green */
            background: #B9FF66;
            border-radius: 1vh;
        }
    }
    
    p
    {
        font-size: 3vh;  
        width: 30%;
        height: inherit;
        margin: 0% 0% 0% 0%; 
    }
}

.caseStudiesBlock
{
    width: 100%;
    height: 40vh;
    padding: 0% 5% 8% 5%;
    overflow: hidden;
    

    .caseStudies
    {
        width: 100%;
        height: 40vh;
        border: 1px solid;
        background-color: #000;
        border-radius: 6vh;

        border-collapse: collapse;
        display: table;

        .caseStudy
        {   
            display: table-cell;
            width: 24%;
            height: inherit;
            padding: 0% 3% 0% 3%;
            border: 1px solid #FFFFFF;
            border-collapse: collapse;
            
            p 
            {
                color: #FFFFFF;
                font-size: 3vh;
                font-weight: 400;
                line-height: 4vh;
                text-align: left;

            }
            .Link
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 3%;

                p
                {
                    color: #B9FF66;
                }
                
            }
        }
       
    }
}

.Content2
{
    width: 100%;
    height: 5vh;

    padding: 0% 0% 5% 5%;

    gap: 2%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Heading
    {
        width: 25%;
        height: inherit;
        text-align: center;
        h2 
        {
            margin: 0%;
            /* Auto layout */
            font-size: 5.5vh;
            /* Green */
            background: #B9FF66;
            border-radius: 1vh;
        }
    }
    
    p
    {
        font-size: 3vh;  
        width: 20%;
        height: inherit;
        margin: 0% 0% 0% 0%; 
    }
}

.processBlock
{
    width: 100%;
    height: 100%;

    background-color: aquamarine;

    .Card
    {
        width: 90%;
        height: 20%;

        margin: 0% 5% 0% 5%; 

        background-color: red;

        .Content
        {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            
            .Label
            {
                width: 60%;
                height: 50%;

                display: flex;
                flex-direction: row;

                background-color: blue;
            }
            .expandInformation
            {
                width: 40%;
                height: 50%;

                display: flex;
                flex-direction: row;

                button
                {
                    cursor: pointer;

                    button:hover
                    {
                        background-color: yellow;
                    }
                }
            }

            p#information
            {
                padding: 20px;

                .collapsed
                {
                    display: none;
                }
            }
        }

    }
}




        
