.Content1
{
    width: 100%;
    height: 5vh;

    padding: 0% 0% 5% 5%;

    gap: 2%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Heading
    {
        width: 15%;
        height: inherit;
        text-align: center;
        h2 
        {
            margin: 0%;
            /* Auto layout */
            font-size: 5.5vh;
            /* Green */
            background: #B9FF66;
            border-radius: 1vh;
        }
    }
    
    p
    {
        font-size: 3vh;  
        width: 30%;
        height: inherit;
        margin: 0% 0% 0% 0%; 
    }
}

.caseStudiesBlock
{
    width: 100%;
    height: 40vh;
    padding: 0% 5% 8% 5%;
    overflow: hidden;
    

    .caseStudies
    {
        width: 100%;
        height: 40vh;
        border: 1px solid;
        background-color: #000;
        border-radius: 6vh;

        border-collapse: collapse;
        display: table;

        .caseStudy
        {   
            display: table-cell;
            width: 24%;
            height: inherit;
            padding: 0% 3% 0% 3%;
            border: 1px solid #FFFFFF;
            border-collapse: collapse;
            
            p 
            {
                color: #FFFFFF;
                font-size: 3vh;
                font-weight: 400;
                line-height: 4vh;
                text-align: left;

            }
            .Link
            {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 3%;

                p
                {
                    color: #B9FF66;
                }
                
            }
        }
       
    }
}

.Content2
{
    width: 100%;
    height: 5vh;

    padding: 0% 0% 5% 5%;

    gap: 2%;
    margin: 0%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .Heading
    {
        width: 25%;
        height: inherit;
        text-align: center;
        h2 
        {
            margin: 0%;
            /* Auto layout */
            font-size: 5.5vh;
            /* Green */
            background: #B9FF66;
            border-radius: 1vh;
        }
    }
    
    p
    {
        font-size: 3vh;  
        width: 20%;
        height: inherit;
        margin: 0% 0% 0% 0%; 
    }
}

.processBlock
{
    width: 100%;
    height: 200vh;

    padding: 0% 5% 0% 5%;
    display: table;
    flex-direction: row;
    align-items: flex-start;

    .Card
    {
        box-sizing: border-box;

        /* Auto layout */
        width: 100%;
        height: 32vh;
        padding: 0% 5% 0% 5%;
        
      

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2%;

        /* Green */
        background: #B9FF66;
        border: 1px solid #191A23;
        box-shadow: 0px 5px 0px #191A23;
        border-radius: 6vh;


        .Content
        {
            position: absolute;
            width: 100%;
            height: 16vh;

            .Label
            {
                width: 20%;
                height: inherit;

                gap: 2%;
                margin: 0%;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                
                p#number
                {
                    width: 5%;
                    height: inherit;
                    text-align: center;
                   
                    
                    font-size: 8vh;
                    font-weight: 500;
                }

                p#text{
                    width: 10%;
                    height: inherit;
                    text-align: center;
                    
                    font-size: 5vh;
                    font-weight: 500;
                    
                }
    
            }
            .plusIcon
            {
                /* Plus icon */
                width: 58px;
                height: 58px;
                margin-left: 200%;
                margin-top: 5%;

                button#Plus
                {
                    /* + */
                    position: absolute;
                    left: 187.78%;
                    right: 29.17%;
                    top: 82%;
                    bottom: 29.17%;

                    border: none;
                    background-color: transparent;

                    z-index: -1;
                }

                button#Subtraction
                {
                    /* - */
                    position: absolute;
                    left: 188.22%;
                    right: 29.17%;
                    top: 87%;
                    bottom: 29.17%;

                    border: none;
                    background-color: transparent;
                    z-index: 1;
                }

                button#Frame
                {
                    /* o */
                    position: absolute;
                    left: 185.38%;
                    right: 29.17%;
                    top: 60%;
                    bottom: 29.17%;

                    border: none;
                    background-color: transparent;
                    z-index: 0;
                }

            }

            hr
            {
                //display: none;
                color: black;
                background: black;
                border: 0;
                height: 1px;
                size: 1%;
                margin: 5% 0 0 0; 
                width: 1114px;
            }

            p#information
            {
                //display: none;
                width: 1114px;
                height: 60px;
                margin-top: 5%;

                /* p */
                font-family: 'Space Grotesk';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 23px;

                color: #000000;

            }
            
        }

    }

}




        
