.content4 {
  width: 100%;
  height: 10%;
  border: solid;
  /* Heading & Subheading */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0% 5%;
  gap: 5%;
  position: absolute;
}
.content4 .heading h2 {
  /* Heading */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: 1vh;
  width: 100%;
  height: 100%;
  border: solid;
  background-color: rgb(185, 255, 102);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content4 p {
  border: solid;
  /* Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services */
  background-color: antiquewhite;
  width: 26%;
  height: 100%;
  /* p */
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 2vh;
  line-height: 3vh;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.testimonialsBlock {
  width: 90%;
  height: 100%;
  border: solid;
  /* Testimonials block */
  position: absolute;
  left: 5%;
  top: 20%;
  /* Dark */
  background: #191A23;
  border-radius: 10vh;
}
.testimonialsBlock .Testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 5%;
  position: absolute;
  width: 100%;
  height: 50%;
  left: -20%;
  top: 10%;
}
.testimonialsBlock .Testimonials .Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  gap: 40%;
  width: 100%;
  height: 100%;
  position: absolute;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  mix-blend-mode: n;
}
.testimonialsBlock .Testimonials .Cards .Card .Bubble .Rectangle {
  box-sizing: border-box;
  width: 44%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border: 2px solid rgb(185, 255, 102);
  border-radius: 6vh;
  position: absolute;
  top: 10%;
}
.testimonialsBlock .Testimonials .Cards .Card .Bubble p {
  border: #ca1ad3;
  box-sizing: border-box;
  width: 500%;
  height: 100%;
  position: relative;
  left: 40%;
  top: 13svh;
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.testimonialsBlock .Testimonials .Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  gap: 10%;
  width: 50%;
  height: 10%;
  position: absolute;
  top: 150%;
  left: 45%;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.testimonialsBlock .Testimonials .Navigation button {
  background: rgb(25, 26, 35);
  border: none;
}

.content5 {
  width: 100%;
  height: 10%;
  border: solid;
  /* Heading & Subheading */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0% 5%;
  gap: 5%;
  position: absolute;
  top: 130%;
}
.content5 .heading h2 {
  /* Heading */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  border-radius: 1vh;
  width: 100%;
  height: 100%;
  border: solid;
  background-color: rgb(185, 255, 102);
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content5 p {
  border: solid;
  /* Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services */
  background-color: antiquewhite;
  width: 20%;
  height: 100%;
  /* p */
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 2vh;
  line-height: 3vh;
  color: #000000;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contactBlock {
  position: absolute;
  background-color: #ca1ad3;
  width: 90%;
  height: 110%;
  position: absolute;
  top: 150%;
  left: 5%;
}
.contactBlock .blockWithIllustration {
  border: solid;
  background: rgb(243, 243, 243);
  width: 100%;
  height: 100%;
  padding: 4.5% 10% 8% 10%;
  gap: 10%;
  border-radius: 5vh;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Form {
  border: solid;
  width: 60%;
  height: 114%;
}
.contactBlock .blockWithIllustration .Form .radioButtons {
  border: solid;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0%;
  width: 40%;
  height: 5%;
  position: absolute;
}
.contactBlock .blockWithIllustration .Form .radioButtons .sayHi, .contactBlock .blockWithIllustration .Form .radioButtons .getAQuote {
  border: transparent;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  gap: 1%;
  width: 50%;
  height: 30%;
}
.contactBlock .blockWithIllustration .Form .radioButtons input[type=radio] {
  width: 20%;
  height: 4vh;
  gap: 0;
  cursor: pointer;
  opacity: 0vh;
  color: #B9FF66;
}
.contactBlock .blockWithIllustration .Form .Fields {
  position: absolute;
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 5%;
  width: 45%;
  height: 50vh;
  flex: none;
  order: 1;
  flex-grow: 0;
  top: 15%;
}
.contactBlock .blockWithIllustration .Form .Fields .Field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5%;
  width: 100%;
  height: 10vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contactBlock .blockWithIllustration .Form .Fields .Field p {
  border: solid;
  position: relative;
  top: 30%;
  width: 30%;
  height: 5vh;
  gap: 0;
  opacity: 0vh;
  font-family: Space Grotesk;
  font-size: 2.2vh;
  line-height: 3vh;
  text-align: left;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Name], .contactBlock .blockWithIllustration .Form .Fields .Field input[id=Email] {
  width: 100%;
  height: 50vh;
  padding: 3% 5% 3% 5%;
  gap: 0px;
  border-radius: 2vh;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Message] {
  position: absolute;
  top: 66%;
  width: 100%;
  height: 50%;
  padding: 3% 5% 3% 5%;
  gap: 0;
  border-radius: 2vh;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Form .Fields .Field ::-moz-placeholder {
  position: absolute;
  top: 2vh;
  width: 30%;
  height: 50%;
  font-family: Space Grotesk;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: left;
  color: rgb(137, 137, 137);
}
.contactBlock .blockWithIllustration .Form .Fields .Field ::placeholder {
  position: absolute;
  top: 2vh;
  width: 30%;
  height: 50%;
  font-family: Space Grotesk;
  font-size: 2.5vh;
  line-height: 3vh;
  text-align: left;
  color: rgb(137, 137, 137);
}
.contactBlock .blockWithIllustration .Form .Button input[type=button] {
  position: absolute;
  top: 75%;
  width: 45%;
  height: 10%;
  padding: 5% 7% 5% 7%;
  gap: 5%;
  border-radius: 2vh;
  opacity: 0px;
  background: rgb(25, 26, 35);
  text-align: center;
  color: white;
}
.contactBlock .Illustration {
  border: solid;
  position: absolute;
  width: 45%;
  height: 635px;
  top: 70px;
  left: 955px;
  gap: 0px;
  opacity: 0px;
}

.footerBlock {
  width: 100%;
  height: 0%;
  background-color: #B9FF66;
  padding: 0px 100px 0px 100px;
  gap: 5%;
  opacity: 0px;
  position: absolute;
  top: 270%;
  width: 90%;
}
.footerBlock .Footer {
  position: absolute;
  top: 90%;
  width: 90%;
  height: 514px;
  padding: 55px 60px 50px 60px;
  gap: 50px;
  border-radius: 45px 45px 0px 0px;
  opacity: 0px;
  background: rgb(25, 26, 35);
}
.footerBlock .Footer .navigationAndContacts {
  position: relative;
  color: white;
  top: 0px;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo img {
  position: absolute;
  width: 180px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation {
  width: 501px;
  height: 23px;
  position: absolute;
  left: 400px;
  top: 0;
  /* Navigation */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation u {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  color: white;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_linkedin {
  width: 40px;
  position: absolute;
  left: 1000px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_facebook {
  width: 40px;
  position: absolute;
  left: 1045px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_twitter {
  width: 40px;
  position: absolute;
  left: 1090px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Frame26 {
  position: relative;
  top: 80px;
  width: 1, 120px;
  height: 185px;
  gap: 154px;
  opacity: 0px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading {
  width: 126px;
  height: 26px;
  padding: 0px 7px 0px 7px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background: rgb(185, 255, 102);
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading h4 {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.52px;
  text-align: left;
  color: #191A23;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info {
  border: transparent;
  width: 332px;
  height: 132px;
  gap: 20px;
  opacity: 0px;
  position: relative;
  top: 15px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info p {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock {
  position: absolute;
  left: 485px;
  top: 0;
  /* Subscription block */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 58px 40px;
  gap: 20px;
  width: 634px;
  height: 184px;
  background: #292A32;
  border-radius: 14px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock input[type=text], .footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock select {
  width: 285px;
  height: 67px;
  padding: 22px, 35px, 22px, 35px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 14px;
  box-sizing: border-box;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock ::-moz-placeholder {
  position: absolute;
  width: 45px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  opacity: 1;
  left: 40px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock ::placeholder {
  position: absolute;
  width: 45px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  opacity: 1;
  left: 40px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock input[type=button] {
  position: absolute;
  width: 249px;
  height: 68px;
  padding: 20px 35px 20px 35px;
  gap: 10px;
  border-radius: 14px;
  opacity: 0px;
  left: 350px;
  top: 65px;
  background-color: #B9FF66;
  text-align: center;
}
.footerBlock .Footer .lineAndText {
  border-top: solid white;
  position: relative;
  width: 1, 120px;
  height: 78px;
  gap: 50px;
  opacity: 0px;
  top: 150px;
}
.footerBlock .Footer .lineAndText .Text {
  position: absolute;
  color: white;
}
.footerBlock .Footer .lineAndText .Text .text1 {
  position: absolute;
  top: 30px;
  width: 324px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.footerBlock .Footer .lineAndText .Text .text2 {
  position: absolute;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  width: 121px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  top: 30px;
  left: 350px;
}/*# sourceMappingURL=footer.css.map */