.content4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 0% 5% 0% 5%;

    //background-color: rebeccapurple;
    .heading{
        width: 15%;
        height: 100%;

        margin: 2% 0% 2% 0%;
        border-radius: 1vh;
        background-color:  #b9ff66;
        display: flex;
        justify-content: center;
        h2{
            font-size: 5vh;
        }
    }
    p{
        width: 40%;
        height: 100%;
       
        margin: 2% 0% 2% 0%;

        font-size: 2.5vh;
    }
}

.testimonialsBlock
{
    width: 90%;
    height: 100%;

    margin: 0% 5% 0% 5%;
    overflow: hidden;

    border-radius: 5vh;
    background-color: #191a23;

    .Testimonials
    {
        display: flex;
        flex-direction: column;
        
        margin: 5% 0% 5% 0%;

        width: 120vw;
        gap: 20vh;

        .Cards
        {
            display: flex;
            flex-direction: row;

            gap: 5%;

            margin: 0% 0% 0% -25%;
            justify-content: center;
            
            .Card{

                display: flex;
                flex-direction: column;

                div.Bubble
                {
                    background-color: #191a23;
                    font-size: 3vh;
                    border-radius: 3vh;
                    border: 1px solid #b9ff66;
                    
                    p
                    {
                        margin: 5% 5% 5% 5%;

                        color: white;
                    }
                    
                }

                div.Triangle
                {
                    width: 0;
                    height: 0;
                    border-bottom: none;

                    border-left: 3vh solid transparent;
                    border-right: 3vh solid transparent;
                    border-top: 5vh solid #000000;
                    

                    margin: 0% 0% 0% 10%;
                }

                div.Text
                {
                    font-size: 3vh;

                    margin: 0% 0% 0% 10%;

                    h4
                    {
                        font-size: 3vh;
                        color: green;
                    }

                    p{
                        color: white;
                    }
                }
            }
        }
        .Navigation
        {
            display: flex;
            flex-direction: row;
            justify-content: center;

            //background-color: #13a5bc;

            height: 5vh;
            width: 150vh;

            margin: 0vh 25vh 0vh 20vh;

            gap: 25vh;

            button#prevBtn, button#nextBtn
            {
                background: none;
                border: none;

                width: 2vw;
                height: 2vh;
            }

            .Stars
            {

                width: 20%;
                //background-color: red;

                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 1vh;

                gap: 2vh;

                svg
                {
                    width: 3vh;
                    height: 3vh;
                }

                svg#Star
                {
                    fill: white;
                }

            }
        }
    }
}

.content5{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 5% 5% 5% 5%;

    //background-color: rebeccapurple;
    .heading{
        width: 15%;
        height: 100%;

        margin: 2% 0% 2% 0%;
        border-radius: 1vh;
        background-color:  #b9ff66;
        display: flex;
        justify-content: center;
        h2{
            font-size: 5vh;
        }
    }
    p{
        width: 20%;
        height: 100%;
       
        margin: 2% 0% 2% 0%;

        font-size: 2.5vh;
    }
}
.contactBlock{
    width: 100%;
    height: 100%;
    background-color: darkgreen;
    
    .blockWithIllustration{
        width: 90%;
        height: 100%;
        border: solid;
        
        background: rgba(243, 243, 243, 1);
        margin: 0% 5% 0% 5%;
        border-radius: 5vh;
        display: flex;
        flex-direction: row;
        gap: 15%;
        .Form{
            width: 50%;
            height: 100%;
            background-color: #b9ff66;
            margin: 5% 5% 5% 5%;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            .radioButtons{
                display: flex;
                flex-direction: row;
                width: 70%;
                height: 10%;
                
                background-color: antiquewhite;
                .sayHi, .getAQuote{
                    display: flex;
                    flex-direction: row;
                    gap: 5%;
                    width: 100%;
                    height: 100%;
                    font-size: 3vh;
                }
                input[type=radio]{
                 
                    border-radius: 50%;
                    width: 20%;
                    height: 5vh;
                    accent-color:#b9ff66;
                }
                
            }
            .Fields{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 3vh;
                border: solid;
                height: 70%;
                width: 100%;
                .Field{
                    height: 20%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background-color: aquamarine;
                    gap: 1vh;
                    
                    label{
                        width: 20%;
                        background-color: darkred;
                        font-size:3vh;
                        text-align: left;
                    }
                    input[id=Name], input[id=Email] {
                       width: 100%;
                       height: 90%;
                       padding: 4% 0% 4% 5%;
                       border-radius: 2vh;
                    }
                    input[id=Message]{
                        width: 100%;
                        height: 90%;
                        padding: 3% 0% 30% 5%;
                        border-radius: 2vh;
                    }
                }
            }
        
            .Button{
                width: 100%;
                height: 10%;

                input[type=button] {
                    height: 100%;
                    width: 100%;
                    border-radius: 1vh;
                    padding: 5% 0% 5% 0%;
                    background: rgba(25, 26, 35, 1);
                    text-align: center;
                    color: white;
                }
          }
        }
        .Illustration{
            width: 35%;
            height: 90%;
            background-color:rgba(243, 243, 243, 1) ;
            box-shadow: none;
            margin: 5% 0% 5% 0%;
            
            img
            {
                width: 100%;
                height: 100%;
                mix-blend-mode: multiply
            }
        }
    }
    
}
.footerBlock{
    width: 100%;
    height: 100%;
    background-color: #b9ff66;
    margin:  5% 0% 0% 0%;
    .Footer{
        border: solid;
        border-radius: 5vh 5vh 0vh 0vh;
        background-color: aliceblue;
        width: 90%;
        height: 100%;
        margin: 0% 0% 0% 5%;
        .navigationAndContacts{
            
            width: 93%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            
            margin: 3% 0% 0% 3%;
            .Elements{
                background-color: blue;
                width: 100%;
                height: 10%;
                display: flex;
                flex-direction: row;
                .Logo{
                    background-color: antiquewhite;
                    width: 20%;
                    height: 10%;
                   
                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .Navigation{
                    width: 40%;
                    height: 100%;
                    
                    color: white;                    
                    display: flex;
                    flex-direction: row;
                    justify-content:space-between;
                    align-items: center;
                    margin: 0% 15% 0% 15%;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    u{
                       
                        font-size: 2.5vh;
                        
                    }
                }
                .socialIcons{
                    background-color: coral;
                    width: 10%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    gap: 15%;

                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    svg{
                        width: 100%;
                        height: 50%;
                    }
                }
            }
            .Frame26{
                background-color: indianred;
                margin: 5% 0% 0% 0%;
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: row;
                gap: 5%;
                .contactUs{
                    display: flex;
                    flex-direction: column;
                    width: 35%;
                    height: 100%;
                    margin: 0%;
                    
                    .Heading{
                       
                        background-color:#b9ff66;
                        width: 35%;
                        height: 5vh;
                        border-radius: 2vh;
                        display: flex;
                        
                        justify-content: center;

                    }
                    .Info{
                        float: left;
                        width: 70%;
                        height: 80%;
                        margin: 5% 0% 0% 0%;
                        background-color: chocolate;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        gap: 0vh;
                        .address{
                            line-height: 0.5vh;
                            
                        }
                    }
                }
                .subscriptionBlock{
                  
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 5%;
                    padding: 5% 5%;
                    width: 60%;
                    height: 100%;
                    background: #292A32;
                    border-radius: 2vh;
                    .Field{
                        border-radius: 3vh;
                        width: 20vw;
                        height: 9vh;
                        border: 3px solid white;
                        padding: 3% 3%;
                           
                }
            }
        }
        
         }
        .lineAndText{
            width: 93%;
            height: 30%;
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            
            margin: 3% 0% 0% 3%;
    }
}}