.content4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0% 5% 0% 5%;
}
.content4 .heading {
  width: 15%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  border-radius: 1vh;
  background-color: #b9ff66;
  display: flex;
  justify-content: center;
}
.content4 .heading h2 {
  font-size: 5vh;
}
.content4 p {
  width: 40%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  font-size: 2.5vh;
}

.testimonialsBlock {
  width: 90%;
  height: 100%;
  margin: 0% 5% 0% 5%;
  overflow: hidden;
  border-radius: 5vh;
  background-color: #191a23;
}
.testimonialsBlock .Testimonials {
  display: flex;
  flex-direction: column;
  margin: 5% 0% 5% 0%;
  width: 120vw;
  gap: 20vh;
}
.testimonialsBlock .Testimonials .Cards {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0% 0% 0% -25%;
  justify-content: center;
}
.testimonialsBlock .Testimonials .Cards .Card {
  display: flex;
  flex-direction: column;
}
.testimonialsBlock .Testimonials .Cards .Card div.Bubble {
  background-color: #191a23;
  font-size: 3vh;
  border-radius: 3vh;
  border: 1px solid #b9ff66;
}
.testimonialsBlock .Testimonials .Cards .Card div.Bubble p {
  margin: 5% 5% 5% 5%;
  color: white;
}
.testimonialsBlock .Testimonials .Cards .Card div.Triangle {
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-top: 5vh solid #000000;
  margin: 0% 0% 0% 10%;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text {
  font-size: 3vh;
  margin: 0% 0% 0% 10%;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text h4 {
  font-size: 3vh;
  color: green;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text p {
  color: white;
}
.testimonialsBlock .Testimonials .Navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5vh;
  width: 150vh;
  margin: 0vh 25vh 0vh 20vh;
  gap: 25vh;
}
.testimonialsBlock .Testimonials .Navigation button#prevBtn, .testimonialsBlock .Testimonials .Navigation button#nextBtn {
  background: none;
  border: none;
  width: 2vw;
  height: 2vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh;
  gap: 2vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars svg {
  width: 3vh;
  height: 3vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars svg#Star {
  fill: white;
}

.content5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 5% 5% 5%;
}
.content5 .heading {
  width: 15%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  border-radius: 1vh;
  background-color: #b9ff66;
  display: flex;
  justify-content: center;
}
.content5 .heading h2 {
  font-size: 5vh;
}
.content5 p {
  width: 20%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  font-size: 2.5vh;
}

.contactBlock {
  width: 100%;
  height: 100%;
  background-color: darkgreen;
}
.contactBlock .blockWithIllustration {
  width: 90%;
  height: 100%;
  border: solid;
  background: rgb(243, 243, 243);
  margin: 0% 5% 0% 5%;
  border-radius: 5vh;
  display: flex;
  flex-direction: row;
  gap: 15%;
}
.contactBlock .blockWithIllustration .Form {
  width: 50%;
  height: 100%;
  background-color: #b9ff66;
  margin: 5% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.contactBlock .blockWithIllustration .Form .radioButtons {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 10%;
  background-color: antiquewhite;
}
.contactBlock .blockWithIllustration .Form .radioButtons .sayHi, .contactBlock .blockWithIllustration .Form .radioButtons .getAQuote {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 100%;
  font-size: 3vh;
}
.contactBlock .blockWithIllustration .Form .radioButtons input[type=radio] {
  border-radius: 50%;
  width: 20%;
  height: 5vh;
  accent-color: #b9ff66;
}
.contactBlock .blockWithIllustration .Form .Fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  border: solid;
  height: 70%;
  width: 100%;
}
.contactBlock .blockWithIllustration .Form .Fields .Field {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  gap: 1vh;
}
.contactBlock .blockWithIllustration .Form .Fields .Field label {
  width: 20%;
  background-color: darkred;
  font-size: 3vh;
  text-align: left;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Name], .contactBlock .blockWithIllustration .Form .Fields .Field input[id=Email] {
  width: 100%;
  height: 90%;
  padding: 4% 0% 4% 5%;
  border-radius: 2vh;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Message] {
  width: 100%;
  height: 90%;
  padding: 3% 0% 30% 5%;
  border-radius: 2vh;
}
.contactBlock .blockWithIllustration .Form .Button {
  width: 100%;
  height: 10%;
}
.contactBlock .blockWithIllustration .Form .Button input[type=button] {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  padding: 5% 0% 5% 0%;
  background: rgb(25, 26, 35);
  text-align: center;
  color: white;
}
.contactBlock .blockWithIllustration .Illustration {
  width: 35%;
  height: 90%;
  background-color: rgb(243, 243, 243);
  box-shadow: none;
  margin: 5% 0% 5% 0%;
}
.contactBlock .blockWithIllustration .Illustration img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.footerBlock {
  width: 100%;
  height: 100%;
  background-color: #b9ff66;
  margin: 5% 0% 0% 0%;
}
.footerBlock .Footer {
  border: solid;
  border-radius: 5vh 5vh 0vh 0vh;
  background-color: aliceblue;
  width: 90%;
  height: 100%;
  margin: 0% 0% 0% 5%;
}
.footerBlock .Footer .navigationAndContacts {
  width: 93%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3% 0% 0% 3%;
}
.footerBlock .Footer .navigationAndContacts .Elements {
  background-color: blue;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo {
  background-color: antiquewhite;
  width: 20%;
  height: 10%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo img {
  width: 100%;
  height: 100%;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation {
  width: 40%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 15% 0% 15%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation u {
  font-size: 2.5vh;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons {
  background-color: coral;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 15%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons svg {
  width: 100%;
  height: 50%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 {
  background-color: indianred;
  margin: 5% 0% 0% 0%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  margin: 0%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading {
  background-color: #b9ff66;
  width: 35%;
  height: 5vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info {
  float: left;
  width: 70%;
  height: 80%;
  margin: 5% 0% 0% 0%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info .address {
  line-height: 0.5vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  padding: 5% 5%;
  width: 60%;
  height: 100%;
  background: #292A32;
  border-radius: 2vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock .Field {
  border-radius: 3vh;
  width: 20vw;
  height: 9vh;
  border: 3px solid white;
  padding: 3% 3%;
}
.footerBlock .Footer .lineAndText {
  width: 93%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 3% 0% 0% 3%;
}/*# sourceMappingURL=footer.css.map */