

.content4 {
    border-style: solid;
    border-color: transparent;
    .heading {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 7px;
        gap: 10px;
        width: 255px;
        height: 51px;
        background: #B9FF66;
        border-radius: 7px;
       
        
        h2{
            width: Hug (255px)px;
            height: Hug (51px)px;
            gap: 0px;
            opacity: 0px;

            font-family: 'Space Grotesk';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 51px;
            flex: none;
            order: 0;
            flex-grow: 0;
            }
            
    }
    p{
        font-family: Space Grotesk;
        font-size: 18px;
        line-height: 22.97px;
        width: 410px;
        height: 46px;
        gap: 0px;
        opacity: 0px;
        position:absolute;
        top:5px;
        left:300px;
        
        }

}
.testimonialsBlock{
        /* Testimonials block */

    width: 1240px;
    height: 625px;
    left: 100px;
    top: 6033px;

    /* Dark */
    background: #191A23;
    border-radius: 45px;
    .Testimonials{

        /* Auto layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 124px;

        position: absolute;
        width: 1918px;
        height: 473px;
        left: -346px;
        top: 84px;
        .Cards{
            /* Cards */

            /* Auto layout */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            gap: 50px;
            
            width: 1918px;
            height: 335px;
            
            
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
             .Card{
                                /* Card */

                /* Auto layout */
                color: #ffff;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0px;
                gap: 20px;

                margin: 0 auto;
                width: 606px;
                height: 335px;


                /* Inside auto layout */
                flex: none;
                order: 0;
                flex-grow: 0;
                /* Polygon 1 */

box-sizing: border-box;


width: 606px;
height: 266px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

left: 115px;
top: 266px;

background: #21241D;
border: 1px solid #FFFFFF;
transform: rotate(-360dg);
/* Rectangle 55 */

box-sizing: border-box;


width: 606px;
height: 237.95px;
left: 0px;
top: 0px;

background: #21241D;
border: 2px solid #FFFFFF;
border-radius: 45px;


                p{
                    /* Bubble */

width: 606px;
height: 266px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

                }
             }
        }
        .Navigation{
            /* Navigation */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 189px;

width: 564px;
height: 14px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

        }

    }

}