div.landingPage
{
    width: 100%;
    height: 100%;

    div.navigationBar
    {
        width: 100%;
        height: 20%;

        /*Item Configuration*/
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 10%;
        padding: 2% 5% 2% 0%;

        /*Display for test*/
        //background-color: red;

        flex: none;
        order: 0;
        flex-grow: 0;

        div.Frame9
        {
            //background-color: yellow;   
            /*Size*/
            width: 20%;
            height: 100%;
        

            /*Display*/
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0% 0% 0% 5%;

            flex: none;
            order: 0;
            flex-grow: 0;

            .Logo img
            {
                width: 100%;
                height: 100%;
                fill: none;
            }

        }

        div.Frame10
        {
            //background-color: green;
            /*Size*/
            width: 70%;
            height: 100%;

            /*Display*/                        
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            flex: none;
            order: 1;
            flex-grow: 0;

            ul
            {
                //background-color: rebeccapurple;

                width: 100%;
                height: 100%;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin: 0%;

                font-family: 'Space Grotesk';
                font-style: normal;
                color: #000000;
                text-align: center;

                li
                {
                    list-style-type: none;

                    width: 25%;
                    height: inherit;
                    margin: 2% 1% 1% 2%;

                    font-size: 3vh;

                    //background-color: palevioletred;
                }

                button
                    {
                        /*Size*/
                        width: 40%;
                        height: 10vh;

                        /*Style*/
                        box-sizing: border-box;
                        border: 1px solid #191a23;
                        border-radius: 14px;
                        
                        font-size: 3vh;
                    }

            }
        }
    }
    
    .Header
    {
        //background-color: yellow;
        /*Size*/   
        width: 100%;
        height: 40%;


        /*Display*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-start;
        gap: 10%;

        flex: none;
        order: 1;
        flex-grow: 0;

        .Frame13
        {
            //background-color: purple;

            /*Size*/
            width: 35%;
            height: 40%;

            /*Display*/
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0% 0% 0% 5%;
            gap: 20%;
            
            flex: none;
            flex-grow: 0;
            order: 0;
            
            h1
            {
                width: 100%;
                height: 40%;

                text-align: left;
                font-size: 9vh;
                line-height: 10vh;
                color: #000000;
                margin: 0% 0% 10% 0%;

                flex: none;
                order: 0;
                flex-grow: 0;
                
            }
            p
            {
                /*Size*/
                width: 100%;
                height: 30%;

                /*Style*/
                font-family: 'Space Grotesk';
                font-style: normal;
                font-size: 3vh;
                line-height: 5vh;
                margin: 0% 0% 10% 0%;

                color: #000000;

                flex: none;
                order: 1;
                flex-grow: 0;
            }

            button
            {
                /*Size*/   
                width: 60%;
                height: 20%;

                /*Display*/
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 3vh 3vh 3vh 3vh;
                gap: 1%;

                /*Style*/
                border-radius: 14px;

                background: #191a23;

                flex: none;
                order: 2;
                flex-grow: 0;
                
                label
                {
                    /*Size*/
                    width: 100%;
                    height: 100%;

                    /*Style*/
                    font-family: 'Space Grotesk';
                    font-style: normal;
                    font-size: 3vh;
                    line-height: 3vh;
                    text-align: center;
                    color: #FFFF;

                    flex: none;
                    order: 0;
                    flex-grow: 0;
                    
                }
            }
        }

        .Illustration
        {
            /*Size*/
            width: 40%;
            height: 40%;

            /*Display*/
            margin: 0% 5% 0% 0%;

            flex: none;
            order: 1;
            flex-grow: 0;
            
            img
            {
                width: 100%;
                height: 100%;
            }

        }
    }

    .Logotypes
    {
        //background-color: blanchedalmond;

        /*Size*/
        size: 100%;
        height: 10%;

        /*Display*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5%;
        margin: 4% 5% 4% 5%;

        order: none;
        order: 2;
        flex-grow: 0;

        svg
        {
            /*Size*/
            width: 10.7%;
            height: 100%;

            /*Display*/
            
            mix-blend-mode: luminosity;

            flex: none;
            order: 0;
            flex-grow: 0;
        }
    }
}
div.Services
{
    display: flex;   
    flex-direction: row;
    align-items: flex-start;

    gap: 5%;

    width: 100%;
    height: 10%;
    margin: 0% 5% 0% 5%;

    /*Debug*/
    //background-color: turquoise;

    .Heading
    {
        //background-color: red;
        /*Size*/
        width: 30vh;
        height: 100%;

        flex: none;
        order: 0;
        flex-grow: 0;
        
        Label
        {
            /*Size*/
            width: 30vh;
            height: 100%;

            /*Background*/
            background: #B9FF66;
            border-radius: 2vh;
            text-align: center;

            padding: 0;

            word-wrap: break-word;
            overflow-wrap: break-word;

            flex: none;
            order: 0;
            flex-grow: 0;

            h2
            {
                /*Size*/
                
                margin: 0%;

                font-family: 'Space Grotesk';
                font-size: 7vh;
    
                color: #000000; 
    
                flex: none;
                order: 0;
                flex-grow: 0;
            }
        }
    }
    
    p
    {   
        //background-color: rosybrown;
        /*Size*/
        width: 80vh;
        height: 100%;


        /*Style*/
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 3vh;

        color: #000000;

        flex: none;
        order: 1; 
        flex-grow: 0;
    }
}

div.servicesBlock
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    margin: 5% 0% 10% 5%;

    width: 100%;
    height: 100%;

    //background-color: burlywood;

    div.cardSection
    {
        width: 100%;
        height: 30%;

        //background-color: yellow;

        gap: 2%;
        display: flex;
        flex-direction: row;
        margin: 0% 0% 0% 0%;


        div
        {
            width: 44%;
            height: 50%;
            
            display: flex;
            flex-direction: row;

            border: 1px solid black;
            border-radius: 3vh;
            box-shadow: 0vh 1vh 0vh #191A23;

            margin: 0% 0% 0% 0%;

            gap: 5%;


            div.headingAndLink
            {
                //background-color: rebeccapurple;

                width: 50%;
                height: 100%;
                
                margin: 7% 0% 5% 5%;
                border: none;
                display: flex;
                flex-direction: column;
                gap: 10vh;

                box-shadow: none;

                //background-color: red;

                .Heading
                {
                    //background-color: red;
                    border: none;
                    box-shadow: none;

                    width: 20vw;
                    height: 15vh;
                    display: flex;
                    flex-direction: column;
                    //margin-right: 0%;  
                    
                    h3
                    {
                        margin: 0% ;
                        font-size: 5vh;

                    }
                    
                }
                
                .Link
                {
                    width: 60%;
                    height: 10%;
                    border: none;
                    box-shadow: none;

                    p
                    {
                        text-align: center;
                        margin: 10% 0% 0% 0%;
                        font-size: 3vh;
                    }
                }

            }
            .Illustration
            {
                //background: violet;
                width: 40%;
                height: 30vh;
                border: none;
                box-shadow: none;
                margin: 5% 5% 5% 5%;

                img
                {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        div.Card2, div.Card5
        {
            background-color: #B9FF66;
            h3 span
            {
                background-color: #FFFFFF;
            }
        }
        div.Card1, div.Card4
        {
            background-color: #f3f3f3;
            h3 span
            {
                background-color: #B9FF66;
            }
        }
        div.Card3, div.Card6
        {
            background-color: #191A23;
        }

        div.Card3
        {
            h3 span
            {
                background-color: #FFFFFF;
            }

            .Link p
            {
                color: #FFFFFF;
            }
        }

        div.Card6
        {
            h3 span
            {
                background-color: #B9FF66;
            }

            .Link p
            {
                color: #FFFFFF;
            }
        }

        
    }
}

div.ctaBlock
{
    width: 100%;
    height: 100%;

    margin: 0% 0% 10% 0%;

    font-size: 3vh;

    //background-color: aquamarine;

    .CTA
    {
        width: 90%;
        height: 70%;

        border: 1px solid #191A23;
        border-radius: 3vh;
        margin: 0% 0% 0% 5%;
        gap: 20%;

        display: flex;
        flex-direction: row;
        align-items: flex-start;

        background-color: #f3f3f3;

        div
        {
            height: 100%;
            width: 50%;
            
        }

        .CardOfCTA
        {
            //background-color: red;
            margin: 3% 0% 2% 3%;

            .textAndButton
            {
                //background-color: aqua;
                width: 90%;

                button
                {
                    width: 20vw;

                    border: 1px solid black;
                    border-radius: 1vh;
                    background-color: #191A23;

                    p
                    {
                        font-size: 3vh;

                        margin: 1% 1% 1% 1%;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .Frame19
        {
            //background-color: cadetblue;
            margin: 0% 0% 0% 0%;

            .Illustration
            {
                margin: 0% 0% 0% 0%;
                height: 100%;
                width: 50%;
                img
                {
                    width: 100%;
                    height: 100%;
                }
            }
            

        }
    }
}
       

