div.landingPage {
  width: 100%;
  height: 100%;
}
div.landingPage div.navigationBar {
  width: 100%;
  height: 20%;
  /*Item Configuration*/
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10%;
  padding: 2% 5% 2% 0%;
  /*Display for test*/
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 {
  /*Size*/
  width: 20%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0% 0% 0% 5%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 .Logo img {
  width: 100%;
  height: 100%;
  fill: none;
}
div.landingPage div.navigationBar div.Frame10 {
  /*Size*/
  width: 70%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame10 ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0%;
  font-family: "Space Grotesk";
  font-style: normal;
  color: #000000;
  text-align: center;
}
div.landingPage div.navigationBar div.Frame10 ul li {
  list-style-type: none;
  width: 25%;
  height: inherit;
  margin: 2% 1% 1% 2%;
  font-size: 3vh;
}
div.landingPage div.navigationBar div.Frame10 ul button {
  /*Size*/
  width: 40%;
  height: 10vh;
  /*Style*/
  box-sizing: border-box;
  border: 1px solid #191a23;
  border-radius: 14px;
  font-size: 3vh;
}
div.landingPage .Header {
  /*Size*/
  width: 100%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 {
  /*Size*/
  width: 35%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0% 0% 0% 5%;
  gap: 20%;
  flex: none;
  flex-grow: 0;
  order: 0;
}
div.landingPage .Header .Frame13 h1 {
  width: 100%;
  height: 40%;
  text-align: left;
  font-size: 9vh;
  line-height: 10vh;
  color: #000000;
  margin: 0% 0% 10% 0%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 p {
  /*Size*/
  width: 100%;
  height: 30%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 5vh;
  margin: 0% 0% 10% 0%;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button {
  /*Size*/
  width: 60%;
  height: 20%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
  gap: 1%;
  /*Style*/
  border-radius: 14px;
  background: #191a23;
  flex: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Illustration {
  /*Size*/
  width: 40%;
  height: 40%;
  /*Display*/
  margin: 0% 5% 0% 0%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Illustration img {
  width: 100%;
  height: 100%;
}
div.landingPage .Logotypes {
  /*Size*/
  size: 100%;
  height: 10%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
  margin: 4% 5% 4% 5%;
  order: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Logotypes svg {
  /*Size*/
  width: 10.7%;
  height: 100%;
  /*Display*/
  mix-blend-mode: luminosity;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.Services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  gap: 5%;
  margin: 0% 5% 0% 5%;
  /*Debug*/
}
div.Services .Heading {
  /*Size*/
  width: 15%;
  height: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Background*/
  background: #B9FF66;
  border-radius: 2vh;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label h2 {
  /*Size*/
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 5vh;
  line-height: 10vh;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services p {
  /*Size*/
  width: 40%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 5vh;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

div.servicesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  margin: 5% 0% 10% 5%;
  width: 100%;
  height: 100%;
}
div.servicesBlock div.cardSection {
  width: 100%;
  height: 30%;
  gap: 2%;
  display: flex;
  flex-direction: row;
  margin: 0% 0% 0% 0%;
}
div.servicesBlock div.cardSection div {
  width: 44%;
  height: 50%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3vh;
  box-shadow: 0vh 1vh 0vh #191A23;
  margin: 0% 0% 0% 0%;
  gap: 5%;
}
div.servicesBlock div.cardSection div div.headingAndLink {
  width: 50%;
  height: 100%;
  margin: 7% 0% 5% 5%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  box-shadow: none;
}
div.servicesBlock div.cardSection div div.headingAndLink .Heading {
  border: none;
  box-shadow: none;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}
div.servicesBlock div.cardSection div div.headingAndLink .Heading h3 span {
  font-size: 3vh;
}
div.servicesBlock div.cardSection div div.headingAndLink .Link {
  width: 60%;
  height: 10%;
  border: none;
  box-shadow: none;
}
div.servicesBlock div.cardSection div div.headingAndLink .Link p {
  text-align: center;
  margin: 10% 0% 0% 0%;
  font-size: 3vh;
}
div.servicesBlock div.cardSection div .Illustration {
  width: 40%;
  height: 100%;
  border: none;
  box-shadow: none;
  margin: 5% 5% 5% 5%;
}
div.servicesBlock div.cardSection div .Illustration img {
  width: 100%;
  height: 100%;
}
div.servicesBlock div.cardSection div.Card2, div.servicesBlock div.cardSection div.Card5 {
  background-color: #B9FF66;
}
div.servicesBlock div.cardSection div.Card2 h3 span, div.servicesBlock div.cardSection div.Card5 h3 span {
  background-color: #FFFFFF;
}
div.servicesBlock div.cardSection div.Card1, div.servicesBlock div.cardSection div.Card4 {
  background-color: #f3f3f3;
}
div.servicesBlock div.cardSection div.Card1 h3 span, div.servicesBlock div.cardSection div.Card4 h3 span {
  background-color: #B9FF66;
}
div.servicesBlock div.cardSection div.Card3, div.servicesBlock div.cardSection div.Card6 {
  background-color: #191A23;
}
div.servicesBlock div.cardSection div.Card3 h3 span, div.servicesBlock div.cardSection div.Card6 h3 span {
  background-color: #FFFFFF;
}
div.servicesBlock div.cardSection div.Card3 .Link p, div.servicesBlock div.cardSection div.Card6 .Link p {
  color: #FFFFFF;
}

div.ctaBlock {
  width: 100%;
  height: 100%;
  margin: 0% 0% 10% 0%;
  font-size: 3vh;
}
div.ctaBlock .CTA {
  width: 90%;
  height: 70%;
  border: 1px solid #191A23;
  border-radius: 3vh;
  margin: 0% 0% 0% 5%;
  gap: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
div.ctaBlock .CTA div {
  height: 100%;
  width: 40%;
}
div.ctaBlock .CTA .Card {
  margin: 3% 0% 2% 3%;
}
div.ctaBlock .CTA .Card .textAndButton {
  width: 90%;
}
div.ctaBlock .CTA .Card .textAndButton button {
  width: 50%;
  height: 7vh;
  border: 1px solid black;
  border-radius: 1vh;
  background-color: #191A23;
}
div.ctaBlock .CTA .Card .textAndButton button p {
  margin: 1% 1% 1% 1%;
  color: #FFFFFF;
}
div.ctaBlock .CTA .Frame19 {
  margin: 0% 0% 0% 0%;
}
div.ctaBlock .CTA .Frame19 .Illustration {
  margin: 0% 0% 0% 0%;
  height: 100%;
  width: 50%;
}
div.ctaBlock .CTA .Frame19 .Illustration img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=header.css.map */