div.landingPage {
  width: 100%;
  height: 100%;
}
div.landingPage div.navigationBar {
  width: 100%;
  height: 20%;
  /*Item Configuration*/
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10%;
  padding: 2% 5% 2% 0%;
  /*Display for test*/
  background-color: red;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 {
  background-color: yellow;
  /*Size*/
  width: 20%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0% 0% 0% 5%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 .Logo img {
  width: 100%;
  height: 100%;
  fill: none;
}
div.landingPage div.navigationBar div.Frame10 {
  background-color: green;
  /*Size*/
  width: 70%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame10 ul {
  background-color: rebeccapurple;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0%;
  font-family: "Space Grotesk";
  font-style: normal;
  color: #000000;
  text-align: center;
}
div.landingPage div.navigationBar div.Frame10 ul li {
  list-style-type: none;
  width: 25%;
  height: inherit;
  margin: 2% 1% 1% 2%;
  font-size: 3vh;
  background-color: palevioletred;
}
div.landingPage div.navigationBar div.Frame10 ul button {
  /*Size*/
  width: 40%;
  height: 10vh;
  /*Style*/
  box-sizing: border-box;
  border: 1px solid #191a23;
  border-radius: 14px;
  font-size: 3vh;
}
div.landingPage .Header {
  background-color: yellow;
  /*Size*/
  width: 100%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 {
  background-color: purple;
  /*Size*/
  width: 35%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0% 0% 0% 5%;
  gap: 20%;
  flex: none;
  flex-grow: 0;
  order: 0;
}
div.landingPage .Header .Frame13 h1 {
  width: 100%;
  height: 40%;
  text-align: left;
  font-size: 9vh;
  line-height: 10vh;
  color: #000000;
  margin: 0% 0% 10% 0%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 p {
  /*Size*/
  width: 100%;
  height: 30%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 5vh;
  margin: 0% 0% 10% 0%;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button {
  /*Size*/
  width: 60%;
  height: 20%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
  gap: 1%;
  /*Style*/
  border-radius: 14px;
  background: #191a23;
  flex: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Illustration {
  /*Size*/
  width: 40%;
  height: 40%;
  /*Display*/
  margin: 0% 5% 0% 0%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Illustration img {
  width: 100%;
  height: 100%;
}
div.landingPage .Logotypes {
  background-color: blanchedalmond;
  /*Size*/
  size: 100%;
  height: 10%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
  margin: 4% 5% 4% 5%;
  order: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Logotypes svg {
  /*Size*/
  width: 10%;
  height: 100%;
  /*Display*/
  mix-blend-mode: luminosity;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.Services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  gap: 5%;
  margin: 0% 5% 0% 5%;
  /*Debug*/
  background-color: turquoise;
}
div.Services .Heading {
  /*Size*/
  width: 15%;
  height: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Background*/
  background: #B9FF66;
  border-radius: 2vh;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label h2 {
  /*Size*/
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 5vh;
  line-height: 10vh;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services p {
  background-color: rosybrown;
  /*Size*/
  width: 40%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 5vh;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

div.servicesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
  margin: 5% 0% 0% 5%;
  width: 100%;
  height: auto;
  background-color: burlywood;
}
div.servicesBlock div.cardSection {
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5vh;
  /*Size*/
  width: 100%;
  height: inherit;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: red;
}
div.servicesBlock div.cardSection div {
  width: 40%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  border: 1px solid #191a23;
  box-shadow: 0px 5px 0px #191a23;
  border-radius: 3vh;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.servicesBlock div.cardSection div div.headingAndLink {
  width: 40%;
  height: 1000px;
}

.Content1 {
  border-style: solid;
  border-color: transparent;
}
.Content1 .Heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: #B9FF66;
  border-radius: 7px;
  width: 227px;
  height: 51px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Content1 .Heading h2 {
  position: absolute;
  margin: 0%;
  width: 265px;
  height: 51px;
  padding: 0px 7px 0px 7px;
  gap: 10px;
  border-radius: 7px 0px 0px 0px;
  opacity: 0px;
  width: 251px;
  height: 51px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 40px;
  font-weight: 500;
  line-height: 51.04px;
  text-align: left;
}
.Content1 p {
  position: absolute;
  left: 20%;
  top: 0%;
  width: 580px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}

.caseStudiesBlock {
  /* Case studies */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 70px 60px;
  gap: 64px;
  margin-top: 50px;
  width: 1, 234px;
  height: 326px;
  /* Dark */
  background: #191A23;
  border-radius: 45px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.caseStudiesBlock .caseStudy-wrap {
  display: table;
  width: 100%;
}
.caseStudiesBlock .caseStudy {
  /* Case study */
  display: table-cell;
  padding: 5%;
  /* Auto layout */
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 600px;
  height: 163px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
  /* Line 3 */
  border: 1px solid #FFFFFF;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(0deg);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.caseStudiesBlock .caseStudy p {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.caseStudiesBlock .caseStudy .Link {
  /* Link */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 140.32px;
  height: 28px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Content2 {
  border-style: solid;
  border-color: transparent;
}
.Content2 .Heading {
  /* Heading */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background-color: #B9FF66;
  border-radius: 7px;
  width: 362px;
  height: 51px;
  margin-top: 50px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Content2 .Heading h2 {
  position: absolute;
  margin: 0%;
  width: 412ppx;
  height: 51px;
  padding: 0px 7px 0px 7px;
  gap: 10px;
  border-radius: 7px 0px 0px 0px;
  opacity: 0px;
  width: 398px;
  height: 51px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 40px;
  font-weight: 500;
  line-height: 51.04px;
  text-align: left;
}
.Content2 p {
  position: absolute;
  left: 30%;
  top: 85%;
  width: 292px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}

.processBlock {
  margin-top: 50px;
}
.processBlock .Card {
  /* Card */
  box-sizing: border-box;
  /* Auto layout */
  width: 1, 234px;
  height: 279px;
  padding: 41px 60px 41px 60px;
  gap: 30px;
  border-radius: 45px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  /* Green */
  background: #B9FF66;
  border: 1px solid #191A23;
  box-shadow: 0px 5px 0px #191A23;
  border-radius: 45px;
}
.processBlock .Card .Content {
  position: absolute;
  margin-top: -3%;
  width: 702px;
  height: 77px;
  gap: 25px;
  opacity: 0px;
}
.processBlock .Card .Content .Label p#number {
  position: absolute;
  margin-top: 5%;
  font-family: Space Grotesk;
  font-size: 60px;
  font-weight: 500;
  line-height: 76.56px;
  text-align: left;
}
.processBlock .Card .Content .Label p#text {
  position: absolute;
  margin-top: 8%;
  left: 10%;
  font-family: Space Grotesk;
  font-size: 30px;
  font-weight: 500;
  line-height: 38.28px;
  text-align: left;
}
.processBlock .Card .Content .plusIcon {
  /* Plus icon */
  width: 58px;
  height: 58px;
  margin-left: 200%;
  margin-top: 5%;
}
.processBlock .Card .Content .plusIcon button#Plus {
  /* + */
  position: absolute;
  left: 187.78%;
  right: 29.17%;
  top: 82%;
  bottom: 29.17%;
  border: none;
  background-color: transparent;
  z-index: -1;
}
.processBlock .Card .Content .plusIcon button#Subtraction {
  /* - */
  position: absolute;
  left: 188.22%;
  right: 29.17%;
  top: 87%;
  bottom: 29.17%;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.processBlock .Card .Content .plusIcon button#Frame {
  /* o */
  position: absolute;
  left: 185.38%;
  right: 29.17%;
  top: 60%;
  bottom: 29.17%;
  border: none;
  background-color: transparent;
  z-index: 0;
}
.processBlock .Card .Content hr {
  color: black;
  background: black;
  border: 0;
  height: 1px;
  size: 1%;
  margin: 5% 0 0 0;
  width: 1114px;
}
.processBlock .Card .Content p#information {
  width: 1114px;
  height: 60px;
  margin-top: 5%;
  /* p */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.content4 {
  border-style: none;
  border-color: transparent;
  position: absolute;
  left: 100px;
  width: 1440px;
  height: 51px;
}
.content4 .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 7px;
  gap: 10px;
  width: 255px;
  height: 51px;
  background: #B9FF66;
  border-radius: 7px;
}
.content4 .heading h2 {
  width: Hug 255px px;
  height: Hug 51px px;
  gap: 0px;
  opacity: 0px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content4 p {
  font-family: Space Grotesk;
  font-size: 18px;
  line-height: 22.97px;
  width: 410px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  top: 5px;
  left: 300px;
}

.testimonialsBlock {
  width: 1240px;
  height: 625px;
  position: absolute;
  left: 100px;
  top: 80px;
  background: #191A23;
  border-radius: 45px;
}
.testimonialsBlock .Testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 124px;
  background-color: #F3F3F3;
  position: absolute;
  width: 1918px;
  height: 473px;
  left: -346px;
  top: 130px;
  mix-blend-mode: screen;
}
.testimonialsBlock .Testimonials .Cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: Hug 200px px;
  height: Hug 266px px;
  gap: 20px;
  opacity: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.testimonialsBlock .Testimonials .Cards .Card .Bubble {
  box-sizing: border-box;
  background: #21241D;
  transform: rotate(0deg);
  /* Rectangle 55 */
  width: 606px;
  height: 237.95px;
  left: 0px;
  top: 0px;
  background: #21241D;
  border: 2px solid rgb(185, 255, 102);
  border-radius: 45px;
}
.testimonialsBlock .Testimonials .Cards .Card .Bubble p {
  position: relative;
  width: 502px;
  height: 138px;
  left: 52px;
  top: 25px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.97px;
  text-align: left;
  color: white;
}
.testimonialsBlock .Testimonials .Cards .Card .Text h4 {
  width: 526px;
  height: 49px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 500px;
  line-height: 25.52px;
  text-align: left;
  color: #B9FF66;
}
.testimonialsBlock .Testimonials .Cards .Card p {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400ps;
  line-height: 22.97px;
  text-align: left;
  position: absolute;
  top: 300px;
}
.testimonialsBlock .Testimonials .Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 189px;
  width: 564px;
  height: 14px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.testimonialsBlock .Testimonials .Navigation button {
  background: rgb(25, 26, 35);
  border: none;
}

.content5 {
  border-style: none;
  border-color: transparent;
  position: absolute;
  left: 100px;
  height: 51px;
  top: 750px;
  width: 1440px;
  background-color: blue;
}
.content5 .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 7px;
  gap: 10px;
  width: 255px;
  height: 51px;
  background: #B9FF66;
  border-radius: 7px;
}
.content5 .heading h2 {
  width: Hug 255px px;
  height: Hug 51px px;
  gap: 0px;
  opacity: 0px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 51px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.content5 p {
  font-family: Space Grotesk;
  font-size: 18px;
  line-height: 22.97px;
  width: 410px;
  height: 46px;
  gap: 0px;
  opacity: 0px;
  position: absolute;
  top: 5px;
  left: 300px;
}

.contactBlock {
  position: absolute;
  background-color: #ca1ad3;
  width: 1240px;
  position: absolute;
  top: 850px;
  left: 100px;
}
.contactBlock .blockWithIllustration {
  border: solid;
  background: rgb(243, 243, 243);
  width: 1, 240px;
  height: 773px;
  padding: 60px 100px 80px 100px;
  gap: 10px;
  border-radius: 45px;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Form {
  border: solid;
  width: 556px;
  height: 633px;
}
.contactBlock .blockWithIllustration .Form .radioButtons {
  border: transparent;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 40px;
  width: 400px;
  height: 30px;
}
.contactBlock .blockWithIllustration .Form .radioButtons .sayHi {
  border: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 150px;
  height: 28px;
}
.contactBlock .blockWithIllustration .Form .radioButtons .getAQuote {
  border: transparent;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 150px;
  height: 28px;
}
.contactBlock .blockWithIllustration .Form input[type=radio] {
  width: 28px;
  height: 28px;
  gap: 0px;
  border-radius: 29px;
  cursor: pointer;
  opacity: 0px;
  color: #B9FF66;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
}
.contactBlock .blockWithIllustration .Fields {
  position: absolute;
  border: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 556px;
  height: 457px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.contactBlock .blockWithIllustration .Fields .Field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 556px;
  height: 92px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.contactBlock .blockWithIllustration .Fields .Field p {
  position: relative;
  top: 20px;
  width: 44px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.contactBlock .blockWithIllustration .Fields .Field input[id=Name], .contactBlock .blockWithIllustration .Fields .Field input[id=Email] {
  width: 556px;
  height: 59px;
  padding: 18px 30px 18px 30px;
  gap: 0px;
  border-radius: 14px;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Fields .Field input[id=Message] {
  position: absolute;
  top: 280px;
  width: 556px;
  height: 190px;
  padding: 18px 30px 18px 30px;
  gap: 10px;
  border-radius: 14px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.contactBlock .blockWithIllustration .Fields .Field ::-moz-placeholder {
  position: absolute;
  top: 17px;
  width: 100px;
  height: 23px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  color: rgb(137, 137, 137);
}
.contactBlock .blockWithIllustration .Fields .Field ::placeholder {
  position: absolute;
  top: 17px;
  width: 100px;
  height: 23px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  color: rgb(137, 137, 137);
}
.contactBlock .blockWithIllustration .Button input[type=button] {
  position: absolute;
  top: 625px;
  width: 556px;
  height: 68px;
  padding: 20px 35px 20px 35px;
  gap: 10px;
  border-radius: 14px;
  opacity: 0px;
  background: rgb(25, 26, 35);
  text-align: center;
  color: white;
}
.contactBlock .Illustration {
  border: solid;
  position: absolute;
  width: 649.86px;
  height: 635px;
  top: 70px;
  left: 870px;
  gap: 0px;
  opacity: 0px;
}

.footerBlock {
  width: Hug 1, 441px px;
  height: Hug 514px px;
  background-color: #B9FF66;
  padding: 0px 100px 0px 100px;
  gap: 10px;
  opacity: 0px;
  position: absolute;
  top: 1700px;
  width: 1440px;
}
.footerBlock .Footer {
  width: 1, 241px;
  height: 514px;
  padding: 55px 60px 50px 60px;
  gap: 50px;
  border-radius: 45px 45px 0px 0px;
  opacity: 0px;
  background: rgb(25, 26, 35);
}
.footerBlock .Footer .navigationAndContacts {
  position: relative;
  color: white;
  top: 0px;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo img {
  position: absolute;
  width: 180px;
  height: 29px;
  gap: 0px;
  opacity: 0px;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation {
  width: 501px;
  height: 23px;
  position: absolute;
  left: 400px;
  top: 0;
  /* Navigation */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation u {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
  color: white;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_linkedin {
  width: 40px;
  position: absolute;
  left: 1000px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_facebook {
  width: 40px;
  position: absolute;
  left: 1045px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons .socialIcon_twitter {
  width: 40px;
  position: absolute;
  left: 1090px;
  top: 0;
}
.footerBlock .Footer .navigationAndContacts .Frame26 {
  position: relative;
  top: 80px;
  width: 1, 120px;
  height: 185px;
  gap: 154px;
  opacity: 0px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading {
  width: 126px;
  height: 26px;
  padding: 0px 7px 0px 7px;
  gap: 10px;
  border-radius: 7px;
  opacity: 0px;
  background: rgb(185, 255, 102);
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading h4 {
  font-family: Space Grotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 25.52px;
  text-align: left;
  color: #191A23;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info {
  border: transparent;
  width: 332px;
  height: 132px;
  gap: 20px;
  opacity: 0px;
  position: relative;
  top: 15px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info p {
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock {
  position: absolute;
  left: 485px;
  top: 0;
  /* Subscription block */
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 58px 40px;
  gap: 20px;
  width: 634px;
  height: 184px;
  background: #292A32;
  border-radius: 14px;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock input[type=text], .footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock select {
  width: 285px;
  height: 67px;
  padding: 22px, 35px, 22px, 35px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 14px;
  box-sizing: border-box;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock ::-moz-placeholder {
  position: absolute;
  width: 45px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  opacity: 1;
  left: 40px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock ::placeholder {
  position: absolute;
  width: 45px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  opacity: 1;
  left: 40px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.97px;
  text-align: left;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock input[type=button] {
  position: absolute;
  width: 249px;
  height: 68px;
  padding: 20px 35px 20px 35px;
  gap: 10px;
  border-radius: 14px;
  opacity: 0px;
  left: 350px;
  top: 65px;
  background-color: #B9FF66;
  text-align: center;
}
.footerBlock .Footer .lineAndText {
  border-top: solid white;
  position: relative;
  width: 1, 120px;
  height: 78px;
  gap: 50px;
  opacity: 0px;
  top: 150px;
}
.footerBlock .Footer .lineAndText .Text {
  position: absolute;
  color: white;
}
.footerBlock .Footer .lineAndText .Text .text1 {
  position: absolute;
  top: 30px;
  width: 324px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
.footerBlock .Footer .lineAndText .Text .text2 {
  position: absolute;
  font-family: Space Grotesk;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  width: 121px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  top: 30px;
  left: 350px;
}/*# sourceMappingURL=style.css.map */