div.landingPage {
  width: 100%;
  height: 100%;
}
div.landingPage div.navigationBar {
  width: 100%;
  height: 20%;
  /*Item Configuration*/
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10%;
  padding: 2% 5% 2% 0%;
  /*Display for test*/
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 {
  /*Size*/
  width: 20%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0% 0% 0% 5%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame9 .Logo img {
  width: 100%;
  height: 100%;
  fill: none;
}
div.landingPage div.navigationBar div.Frame10 {
  /*Size*/
  width: 70%;
  height: 100%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage div.navigationBar div.Frame10 ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0%;
  font-family: "Space Grotesk";
  font-style: normal;
  color: #000000;
  text-align: center;
}
div.landingPage div.navigationBar div.Frame10 ul li {
  list-style-type: none;
  width: 25%;
  height: inherit;
  margin: 2% 1% 1% 2%;
  font-size: 3vh;
}
div.landingPage div.navigationBar div.Frame10 ul button {
  /*Size*/
  width: 40%;
  height: 10vh;
  /*Style*/
  box-sizing: border-box;
  border: 1px solid #191a23;
  border-radius: 14px;
  font-size: 3vh;
}
div.landingPage .Header {
  /*Size*/
  width: 100%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 {
  /*Size*/
  width: 35%;
  height: 40%;
  /*Display*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0% 0% 0% 5%;
  gap: 20%;
  flex: none;
  flex-grow: 0;
  order: 0;
}
div.landingPage .Header .Frame13 h1 {
  width: 100%;
  height: 40%;
  text-align: left;
  font-size: 9vh;
  line-height: 10vh;
  color: #000000;
  margin: 0% 0% 10% 0%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 p {
  /*Size*/
  width: 100%;
  height: 30%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 5vh;
  margin: 0% 0% 10% 0%;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button {
  /*Size*/
  width: 60%;
  height: 20%;
  /*Display*/
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3vh 3vh 3vh 3vh;
  gap: 1%;
  /*Style*/
  border-radius: 14px;
  background: #191a23;
  flex: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Header .Frame13 button label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;
  color: white;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.landingPage .Header .Illustration {
  /*Size*/
  width: 40%;
  height: 40%;
  /*Display*/
  margin: 0% 5% 0% 0%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
div.landingPage .Header .Illustration img {
  width: 100%;
  height: 100%;
}
div.landingPage .Logotypes {
  /*Size*/
  size: 100%;
  height: 10%;
  /*Display*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5%;
  margin: 4% 5% 4% 5%;
  order: none;
  order: 2;
  flex-grow: 0;
}
div.landingPage .Logotypes svg {
  /*Size*/
  width: 10.7%;
  height: 100%;
  /*Display*/
  mix-blend-mode: luminosity;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.Services {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  gap: 5%;
  margin: 0% 5% 0% 5%;
  /*Debug*/
}
div.Services .Heading {
  /*Size*/
  width: 15%;
  height: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label {
  /*Size*/
  width: 100%;
  height: 100%;
  /*Background*/
  background: #B9FF66;
  border-radius: 2vh;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services .Heading Label h2 {
  /*Size*/
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk";
  font-style: normal;
  font-size: 5vh;
  line-height: 10vh;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}
div.Services p {
  /*Size*/
  width: 40%;
  height: 100%;
  /*Style*/
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
  line-height: 5vh;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
}

div.servicesBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  margin: 5% 0% 10% 5%;
  width: 100%;
  height: 100%;
}
div.servicesBlock div.cardSection {
  width: 100%;
  height: 30%;
  gap: 2%;
  display: flex;
  flex-direction: row;
  margin: 0% 0% 0% 0%;
}
div.servicesBlock div.cardSection div {
  width: 44%;
  height: 50%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 3vh;
  box-shadow: 0vh 1vh 0vh #191A23;
  margin: 0% 0% 0% 0%;
  gap: 5%;
}
div.servicesBlock div.cardSection div div.headingAndLink {
  width: 50%;
  height: 100%;
  margin: 7% 0% 5% 5%;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  box-shadow: none;
}
div.servicesBlock div.cardSection div div.headingAndLink .Heading {
  border: none;
  box-shadow: none;
  width: 20vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
div.servicesBlock div.cardSection div div.headingAndLink .Heading h3 {
  margin: 0%;
  font-size: 4vh;
}
div.servicesBlock div.cardSection div div.headingAndLink .Link {
  width: 60%;
  height: 10%;
  border: none;
  box-shadow: none;
}
div.servicesBlock div.cardSection div div.headingAndLink .Link p {
  text-align: center;
  margin: 10% 0% 0% 0%;
  font-size: 3vh;
}
div.servicesBlock div.cardSection div .Illustration {
  width: 40%;
  height: 30vh;
  border: none;
  box-shadow: none;
  margin: 5% 5% 5% 5%;
}
div.servicesBlock div.cardSection div .Illustration img {
  width: 100%;
  height: 100%;
}
div.servicesBlock div.cardSection div.Card2, div.servicesBlock div.cardSection div.Card5 {
  background-color: #B9FF66;
}
div.servicesBlock div.cardSection div.Card2 h3 span, div.servicesBlock div.cardSection div.Card5 h3 span {
  background-color: #FFFFFF;
}
div.servicesBlock div.cardSection div.Card1, div.servicesBlock div.cardSection div.Card4 {
  background-color: #f3f3f3;
}
div.servicesBlock div.cardSection div.Card1 h3 span, div.servicesBlock div.cardSection div.Card4 h3 span {
  background-color: #B9FF66;
}
div.servicesBlock div.cardSection div.Card3, div.servicesBlock div.cardSection div.Card6 {
  background-color: #191A23;
}
div.servicesBlock div.cardSection div.Card3 h3 span {
  background-color: #FFFFFF;
}
div.servicesBlock div.cardSection div.Card3 .Link p {
  color: #FFFFFF;
}
div.servicesBlock div.cardSection div.Card6 h3 span {
  background-color: #B9FF66;
}
div.servicesBlock div.cardSection div.Card6 .Link p {
  color: #FFFFFF;
}

div.ctaBlock {
  width: 100%;
  height: 100%;
  margin: 0% 0% 10% 0%;
  font-size: 3vh;
}
div.ctaBlock .CTA {
  width: 90%;
  height: 70%;
  border: 1px solid #191A23;
  border-radius: 3vh;
  margin: 0% 0% 0% 5%;
  gap: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
div.ctaBlock .CTA div {
  height: 100%;
  width: 50%;
}
div.ctaBlock .CTA .CardOfCTA {
  margin: 3% 0% 2% 3%;
}
div.ctaBlock .CTA .CardOfCTA .textAndButton {
  width: 90%;
}
div.ctaBlock .CTA .CardOfCTA .textAndButton button {
  width: 20vw;
  height: 7vh;
  border: 1px solid black;
  border-radius: 1vh;
  background-color: #191A23;
}
div.ctaBlock .CTA .CardOfCTA .textAndButton button p {
  margin: 1% 1% 1% 1%;
  color: #FFFFFF;
}
div.ctaBlock .CTA .Frame19 {
  margin: 0% 0% 0% 0%;
}
div.ctaBlock .CTA .Frame19 .Illustration {
  margin: 0% 0% 0% 0%;
  height: 100%;
  width: 50%;
}
div.ctaBlock .CTA .Frame19 .Illustration img {
  width: 100%;
  height: 100%;
}

.Content1 {
  width: 100%;
  height: 100%;
  padding: 0% 5% 0% 5%;
  gap: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Content1 .Heading {
  width: 18%;
  height: inherit;
  text-align: center;
}
.Content1 .Heading h2 {
  margin: 0%;
  /* Auto layout */
  font-size: 5.5vh;
  /* Green */
  background: #B9FF66;
  border-radius: 1vh;
}
.Content1 p {
  font-size: 2.2vh;
  width: 35%;
  height: inherit;
  margin: 0% 0% 0% 0%;
}

.caseStudiesBlock {
  width: 100%;
  height: 100%;
  padding: 5% 5% 10% 5%;
  overflow: hidden;
}
.caseStudiesBlock .caseStudies {
  width: 100%;
  height: 50vh;
  border: 1px solid;
  background-color: #000;
  border-radius: 6vh;
  border-collapse: collapse;
  display: table;
}
.caseStudiesBlock .caseStudies .caseStudy {
  display: table-cell;
  width: 24%;
  height: inherit;
  padding: 5% 4% 0% 4%;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
}
.caseStudiesBlock .caseStudies .caseStudy p {
  color: #FFFFFF;
  font-size: 3vh;
  line-height: 4vh;
  text-align: left;
}
.caseStudiesBlock .caseStudies .caseStudy .Link {
  display: flex;
  flex-direction: row;
  gap: 4%;
}
.caseStudiesBlock .caseStudies .caseStudy .Link p {
  color: #B9FF66;
}

.Content2 {
  width: 100%;
  height: 100%;
  padding: 0% 5% 0% 5%;
  gap: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Content2 .Heading {
  width: 29%;
  height: inherit;
  text-align: center;
}
.Content2 .Heading h2 {
  margin: 0%;
  /* Auto layout */
  font-size: 5.5vh;
  /* Green */
  background: #B9FF66;
  border-radius: 1vh;
}
.Content2 p {
  font-size: 2.2vh;
  width: 18%;
  height: inherit;
  margin: 0% 0% 0% 0%;
}

.processBlock {
  width: 100%;
  height: 100%;
  padding: 5% 5% 10% 5%;
  display: table;
  flex-direction: row;
  align-items: flex-start;
}
.processBlock .Card {
  width: 100%;
  height: 15%;
  padding: 0% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2%;
  /* Green */
  border: 1px solid #191A23;
  box-shadow: 0px 3px 0px #191A23;
  border-radius: 6vh;
}
.processBlock .Card .Content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15%;
}
.processBlock .Card .Content .Label {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: left;
  gap: 3%;
  margin: 2% 0% 0% 0%;
}
.processBlock .Card .Content .Label p {
  width: 100%;
  height: 100%;
  margin: 0% 0% 0% 0%;
}
.processBlock .Card .Content .Label p#number {
  width: 5%;
  height: 100%;
  font-size: 8vh;
}
.processBlock .Card .Content .Label p#text {
  width: 75%;
  height: 100%;
  font-size: 4vh;
  margin: 2.5% 0% 2% 0%;
}
.processBlock .Card .Content .expandInformation {
  min-width: 8vh;
  height: 8vh;
  border-radius: 50%;
  margin: 3% 0% 3% 2%;
  border: 1px solid black;
  background-color: #f9f9f9;
}
.processBlock .Card .Content .expandInformation button {
  font-size: 8vh;
  width: 10%;
  height: 10%;
  border: none;
  background-color: transparent;
}
.processBlock .Card .Content .expandInformation button.expand-btn {
  width: 100%;
  margin: -35% 0% 0% 0%;
}
.processBlock .Card .Content .expandInformation button.collapse-btn {
  width: 100%;
  margin: -40% 0% 0% 0%;
}
.processBlock .Card .Content p.information {
  width: 100%;
  height: 10vh;
  font-weight: 400;
  font-size: 2vh;
  color: #000000;
}
.processBlock .Card .Content p.information .collapsed {
  display: none;
}

.Content3 {
  width: 100%;
  height: 100%;
  padding: 0% 5% 0% 5%;
  gap: 3%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Content3 .Heading {
  width: 8%;
  height: inherit;
  text-align: center;
}
.Content3 .Heading h2 {
  margin: 0%;
  /* Auto layout */
  font-size: 5.5vh;
  /* Green */
  background: #B9FF66;
  border-radius: 1vh;
}
.Content3 p {
  font-size: 2.2vh;
  width: 30%;
  height: inherit;
  margin: 0% 0% 0% 0%;
}

.groupOfCards {
  width: 100%;
  height: 100%;
  margin: 5% 5% 2% 5%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.groupOfCards .Row {
  width: 90%;
  height: 100%;
  margin: 0% 0% 1% 0%;
  display: flex;
  flex-direction: row;
  gap: 5vh;
}
.groupOfCards .Row .Card {
  border: 1px solid #191A23;
  box-shadow: 0px 3px 0px #191A23;
  border-radius: 6vh;
  width: 30vw;
  height: 50vh;
  background-color: #f9f9f9;
}
.groupOfCards .Row .Card .Content {
  margin: 7% 5% 7% 5%;
  width: 90%;
  height: 90%;
}
.groupOfCards .Row .Card .Content .Person {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.groupOfCards .Row .Card .Content .Person .pictureAndName {
  width: 100%;
  height: 100%;
  margin: 1% 1% 1% 1%;
  display: flex;
  flex-direction: row;
  gap: 3%;
}
.groupOfCards .Row .Card .Content .Person .pictureAndName .Picture {
  width: 8vw;
  height: 15vh;
}
.groupOfCards .Row .Card .Content .Person .pictureAndName .Picture img {
  width: 100%;
  height: 100%;
}
.groupOfCards .Row .Card .Content .Person .pictureAndName .Name {
  width: 14vw;
  height: 10vh;
  margin: 5vh 0vh 0vh 0vh;
  line-height: 5vh;
  overflow: hidden;
}
.groupOfCards .Row .Card .Content .Person .pictureAndName .Name h4, .groupOfCards .Row .Card .Content .Person .pictureAndName .Name p {
  margin: 0% 0% 0% 0%;
  font-size: 3vh;
}
.groupOfCards .Row .Card .Content .Person .socialIcon {
  height: 5vh;
  width: 5vh;
}
.groupOfCards .Row .Card .Content .Person .socialIcon img {
  width: 100%;
  height: 100%;
}
.groupOfCards .Row .Card .Content hr {
  width: 100%;
  margin: 0% 0% 2% 0%;
  background: #000000;
  padding: 0.1vh;
}
.groupOfCards .Row .Card .Content p {
  margin: 7% 0% 0% 0%;
  font-size: 2.6vh;
}

button.End {
  margin: 0% 0% 0% 79.5%;
  /* Auto layout */
  font-size: 2.8vh;
  /* Green */
  background: #000000;
  border-radius: 2vh;
  padding: 0.5% 4% 0.5% 4%;
  color: white;
}

.content4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0% 5% 0% 5%;
}
.content4 .heading {
  width: 15%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  border-radius: 1vh;
  background-color: #b9ff66;
  display: flex;
  justify-content: center;
}
.content4 .heading h2 {
  font-size: 5vh;
}
.content4 p {
  width: 40%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  font-size: 2.5vh;
}

.testimonialsBlock {
  width: 90%;
  height: 100%;
  margin: 0% 5% 0% 5%;
  overflow: hidden;
  border-radius: 5vh;
  background-color: #191a23;
}
.testimonialsBlock .Testimonials {
  display: flex;
  flex-direction: column;
  margin: 5% 0% 5% 0%;
  width: 120vw;
  gap: 20vh;
}
.testimonialsBlock .Testimonials .Cards {
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 0% 0% 0% -25%;
  justify-content: center;
}
.testimonialsBlock .Testimonials .Cards .Card {
  display: flex;
  flex-direction: column;
}
.testimonialsBlock .Testimonials .Cards .Card div.Bubble {
  background-color: #191a23;
  font-size: 3vh;
  border-radius: 3vh;
  border: 1px solid #b9ff66;
}
.testimonialsBlock .Testimonials .Cards .Card div.Bubble p {
  margin: 5% 5% 5% 5%;
  color: white;
}
.testimonialsBlock .Testimonials .Cards .Card div.Triangle {
  width: 0;
  height: 0;
  border-bottom: none;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  border-top: 5vh solid #000000;
  margin: 0% 0% 0% 10%;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text {
  font-size: 3vh;
  margin: 0% 0% 0% 10%;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text h4 {
  font-size: 3vh;
  color: green;
}
.testimonialsBlock .Testimonials .Cards .Card div.Text p {
  color: white;
}
.testimonialsBlock .Testimonials .Navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 5vh;
  width: 150vh;
  margin: 0vh 25vh 0vh 20vh;
  gap: 25vh;
}
.testimonialsBlock .Testimonials .Navigation button#prevBtn, .testimonialsBlock .Testimonials .Navigation button#nextBtn {
  background: none;
  border: none;
  width: 2vw;
  height: 2vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1vh;
  gap: 2vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars svg {
  width: 3vh;
  height: 3vh;
}
.testimonialsBlock .Testimonials .Navigation .Stars svg#Star {
  fill: white;
}

.content5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  margin: 5% 5% 5% 5%;
}
.content5 .heading {
  width: 15%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  border-radius: 1vh;
  background-color: #b9ff66;
  display: flex;
  justify-content: center;
}
.content5 .heading h2 {
  font-size: 5vh;
}
.content5 p {
  width: 20%;
  height: 100%;
  margin: 2% 0% 2% 0%;
  font-size: 2.5vh;
}

.contactBlock {
  width: 100%;
  height: 100%;
  background-color: darkgreen;
}
.contactBlock .blockWithIllustration {
  width: 90%;
  height: 100%;
  border: solid;
  background: rgb(243, 243, 243);
  margin: 0% 5% 0% 5%;
  border-radius: 5vh;
  display: flex;
  flex-direction: row;
  gap: 15%;
}
.contactBlock .blockWithIllustration .Form {
  width: 50%;
  height: 100%;
  background-color: #b9ff66;
  margin: 5% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.contactBlock .blockWithIllustration .Form .radioButtons {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 10%;
  background-color: antiquewhite;
}
.contactBlock .blockWithIllustration .Form .radioButtons .sayHi, .contactBlock .blockWithIllustration .Form .radioButtons .getAQuote {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 100%;
  font-size: 3vh;
}
.contactBlock .blockWithIllustration .Form .radioButtons input[type=radio] {
  border-radius: 50%;
  width: 20%;
  height: 5vh;
  accent-color: #b9ff66;
}
.contactBlock .blockWithIllustration .Form .Fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
  border: solid;
  height: 70%;
  width: 100%;
}
.contactBlock .blockWithIllustration .Form .Fields .Field {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  gap: 1vh;
}
.contactBlock .blockWithIllustration .Form .Fields .Field label {
  width: 20%;
  background-color: darkred;
  font-size: 3vh;
  text-align: left;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Name], .contactBlock .blockWithIllustration .Form .Fields .Field input[id=Email] {
  width: 100%;
  height: 90%;
  padding: 4% 0% 4% 5%;
  border-radius: 2vh;
}
.contactBlock .blockWithIllustration .Form .Fields .Field input[id=Message] {
  width: 100%;
  height: 90%;
  padding: 3% 0% 30% 5%;
  border-radius: 2vh;
}
.contactBlock .blockWithIllustration .Form .Button {
  width: 100%;
  height: 10%;
}
.contactBlock .blockWithIllustration .Form .Button input[type=button] {
  height: 100%;
  width: 100%;
  border-radius: 1vh;
  padding: 5% 0% 5% 0%;
  background: rgb(25, 26, 35);
  text-align: center;
  color: white;
}
.contactBlock .blockWithIllustration .Illustration {
  width: 35%;
  height: 90%;
  background-color: rgb(243, 243, 243);
  box-shadow: none;
  margin: 5% 0% 5% 0%;
}
.contactBlock .blockWithIllustration .Illustration img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

.footerBlock {
  width: 100%;
  height: 100%;
  background-color: #b9ff66;
  margin: 5% 0% 0% 0%;
}
.footerBlock .Footer {
  border: solid;
  border-radius: 5vh 5vh 0vh 0vh;
  background-color: aliceblue;
  width: 90%;
  height: 100%;
  margin: 0% 0% 0% 5%;
}
.footerBlock .Footer .navigationAndContacts {
  width: 93%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3% 0% 0% 3%;
}
.footerBlock .Footer .navigationAndContacts .Elements {
  background-color: blue;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo {
  background-color: antiquewhite;
  width: 20%;
  height: 10%;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Logo img {
  width: 100%;
  height: 100%;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation {
  width: 40%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0% 15% 0% 15%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .Navigation u {
  font-size: 2.5vh;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons {
  background-color: coral;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 15%;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footerBlock .Footer .navigationAndContacts .Elements .socialIcons svg {
  width: 100%;
  height: 50%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 {
  background-color: indianred;
  margin: 5% 0% 0% 0%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  margin: 0%;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Heading {
  background-color: #b9ff66;
  width: 35%;
  height: 5vh;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info {
  float: left;
  width: 70%;
  height: 80%;
  margin: 5% 0% 0% 0%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .contactUs .Info .address {
  line-height: 0.5vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  padding: 5% 5%;
  width: 60%;
  height: 100%;
  background: #292A32;
  border-radius: 2vh;
}
.footerBlock .Footer .navigationAndContacts .Frame26 .subscriptionBlock .Field {
  border-radius: 3vh;
  width: 20vw;
  height: 9vh;
  border: 3px solid white;
  padding: 3% 3%;
}
.footerBlock .Footer .lineAndText {
  width: 93%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 3% 0% 0% 3%;
}/*# sourceMappingURL=style.css.map */